#body {
	grid-auto-rows: auto;
	padding-top: 3rem;
	
	
}
#Projects {
	display: grid;
	grid-row-start: auto;
	grid-template-rows: 25%,25%,25%,25% ;
}
#Project1 {
	grid-row-start:auto;
	
}
	
#reflist {
    list-style-type: none;
	text-align: center;
}