* {
	font-family: "Timesroman";
	text-align: center;
	
}

body {
	background-color: beige;
}
#h1 {
	text-shadow: 2px 2px rgb(254, 254, 254);
	background-color: blue;
	font-size: 55px;
	text-align: center;
}


#navigatiionbar {
	color: rgb(0, 0, 0);
	background-color: black;
}


#h2 {
	font-size: 50px;
	color: blue;
    background-color:beige(255, 255, 255);

}
#h3 {
	font-size: 35px;
	color:goldenrod
}

#h5 {
	font-size: 25px;
	color: pink ;
}
#navigationbar {
	font-size: 25px;
	text-align: center;

}
#Projects {
	grid-template-rows: auto;
	text-emphasis: none;
	text-align: center;

}
#reflist {
    list-style-type: none;
	text-align: center;
}
#footer {
	grid-template-rows: auto;
	font-size: 20px;
	background-color: white;
	text-align: center;
	color: rgb(0, 0, 0);
}


